---
layout: default
---

<!-- Banner -->
<section id="banner">
    <h1>{{ site.title }}</h1>
    <p>{{ site.about }}</p>
</section>

<!-- One -->
<section id="one" class="wrapper">
    <div class="inner">
        <div class="flex flex-3">
            <article>
                <header>
                    <h3>{{ site.data.home.past.title }} </h3>
                </header>
                <p>{{ site.data.home.past.description }}</p>
                <footer>
                    <a href="#" class="button special">{{ site.data.home.past.buttonLabel }}</a>
                </footer>
            </article>
            <article>
                <header>
                    <h3>{{ site.data.home.present.title }}</h3>
                </header>
                <p>{{ site.data.home.present.description }}</p>
                <footer>
                    <a href="#" class="button special">{{ site.data.home.present.buttonLabel }}</a>
                </footer>
            </article>
            <article>
                <header>
                    <h3>{{ site.data.home.futur.title }}</h3>
                </header>
                <p>{{ site.data.home.futur.description }}</p>
                <footer>
                    <a href="#" class="button special">{{ site.data.home.futur.buttonLabel }}</a>
                </footer>
            </article>
        </div>
    </div>
</section>
